# This is a template file only
# # Warning! The .env file contains sensitive setting 
# that are to be used in prod.
# Copy this file to ".env" and edit in there.
# This file gets save to the repo and you don't want
# prod settings kept in the repo.
# Env settings to be used later by dotenv
# See app/core/config.py for .env settings
#

# Enable these settings in prod
# DEBUG = false
# LOG_LEVEL=INFO
# LOG_CONSOLE_LEVEL=INFO
# LOG_FILE_LEVEL=WARNING
# LOG_FILE_NAME=bitza.log
#
#
# SECRET_KEY=<secret_prod_key>
